.contact {
  background-color: rgb(215, 234, 250);
  border: 1px solid skyblue;
  border-radius: 5px;
}

.contact-wrapper {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.contact-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-header img {
  width: 100px;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-name {
  margin: auto;
  text-align: center;
}

.contact-info {
  display: inherit;
  flex-direction: column;
}

.contact-info p {
  margin: 0;
}

.contact-operations {
  display: flex;
  flex-direction: row;
  margin: 5px 2px 0 0;
}

.delete-btn {
  border: 0;
  border-radius: 5px;
  padding: 4px 8px;
  color: white;
  background-color: rgb(0, 94, 255);
}

.delete-btn:hover {
  cursor: pointer;
}