.form-container {
  max-width: 30vw;
  margin: auto;
  margin-top: 25vh;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-submit {
  margin-top: 1rem;
}

.form-submit button {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  color: #f4f4f4;
  background-color: #004af1;
  cursor: pointer;
  border: 0;
}

.error {
  color: #ff0011;
}