.filter {
  padding: 16px 0;
}

.filter-wrapper {
  column-gap: 8px;
  display: flex;
  align-items: flex-end;
}

.filter-input {
  height: 30px;
  box-sizing: border-box;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 5px;
  border: 0;
  padding: 6px 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.filter-input:focus {
  outline: none;
}

.filter-select {
  box-sizing: border-box;
  border: 0;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.filter-select:focus {
  outline: none;
}